<footer class="page-footer pink lighten-1">
  <div class="footer-copyright green">
    <div class="container">
      All articles belong to <a href='https://www.columbia.edu/' target="_blank">https://www.nytimes.com/</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>